
h3 { padding: 10 px; font-size: medium; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; margin: 6px; background-color: rebeccapurple; color: beige;}

span { background-color: beige; color: black; font-size: 12px ;}